scripts/n8n/workflows/2-rendez-vous.json
{
  "name": "PROMOTE-CONNECT : 2. Rappels de Rendez-vous",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [ { "field": "minutes", "minutesInterval": 60 } ]
        }
      },
      "id": "trigger-rdv",
      "name": "Schedule Trigger (Toutes les heures)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "table": "v_rdv_reminders",
        "returnAll": true,
        "options": {}
      },
      "id": "get-rdv",
      "name": "Récupérer RDV à J-1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"PROMOTE <noreply@promote-connect.pro>\",\n  \"to\": [\"{{ $json.demandeur_email }}\", \"{{ $json.destinataire_email }}\"],\n  \"subject\": \"Rappel : Votre Rendez-vous approche\",\n  \"html\": \"<!DOCTYPE html>\\n<html lang=\\\"fr\\\">\\n<head><meta charset=\\\"UTF-8\\\"><meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1.0\\\">\\n<title>Rappel de Rendez-vous</title></head>\\n<body style=\\\"margin:0;padding:32px 16px;background:#f6f8fb;font-family:Inter,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:#0f172a\\\">\\n<div style=\\\"max-width:600px;margin:0 auto;background:#ffffff;border-radius:24px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);border:1px solid #e2e8f0\\\">\\n  <div style=\\\"background:#4A072B;padding:32px\\\">\\n    <img src=\\\"https://promote-connect.pro/pro_connect_fr.webp\\\" width=\\\"180\\\" height=\\\"auto\\\" alt=\\\"PROMOTE-CONNECT\\\" style=\\\"display:block;border:0;margin-bottom:16px\\\" />\\n    <h1 style=\\\"margin:0;color:#ffffff;font-size:24px;font-weight:700;line-height:1.3\\\">Votre rendez-vous B2B approche</h1>\\n  </div>\\n  <div style=\\\"padding:32px\\\">\\n    <div style=\\\"margin-bottom:16px;padding:12px 16px;background:#fef08a;border-radius:12px;display:inline-block\\\">\\n      <span style=\\\"display:inline-block;width:8px;height:8px;border-radius:50%;background:#eab308;vertical-align:middle;margin-right:8px\\\"></span>\\n      <span style=\\\"font-size:13px;font-weight:600;color:#854d0e\\\">Rappel de rendez-vous</span>\\n    </div>\\n    <p style=\\\"margin:0 0 16px;font-size:16px;color:#0f172a;line-height:1.6\\\">Bonjour,</p>\\n    <p style=\\\"margin:0 0 16px;font-size:16px;color:#0f172a;line-height:1.6\\\">Ceci est un rappel pour votre rendez-vous B2B prévu le <strong>{{ $json.starts_at.split('T')[0].split('-').reverse().join('/') }}</strong> à <strong>{{ $json.starts_at.split('T')[1].substring(0, 5) }}</strong>.</p>\\n    <hr style=\\\"border:none;border-top:1px solid #e2e8f0;margin:24px 0\\\" />\\n    <p style=\\\"margin:0 0 16px;font-size:14px;color:#64748b;line-height:1.6\\\">Connectez-vous à PROMOTE-CONNECT pour consulter votre agenda et les détails complets de ce rendez-vous (avec qui, lieu, notes).</p>\\n    <p style=\\\"margin:0;text-align:center\\\">\\n      <a href=\\\"https://promote-connect.pro/agenda\\\" style=\\\"display:inline-block;padding:12px 24px;background:#4A072B;color:#ffffff;text-decoration:none;border-radius:12px;font-size:14px;font-weight:600\\\">Voir mon agenda</a>\\n    </p>\\n  </div>\\n  <div style=\\\"background:#f8fafc;padding:20px 32px;text-align:center;border-top:1px solid #e2e8f0\\\">\\n    <p style=\\\"margin:0;font-size:12px;color:#94a3b8\\\">PROMOTE-CONNECT — Plateforme de networking professionnel</p>\\n    <p style=\\\"margin:4px 0 0;font-size:12px;color:#94a3b8\\\">&copy; 2026 PROMOTE. Tous droits réservés.</p>\\n  </div>\\n</div>\\n</body>\\n</html>\"\n}"
      },
      "id": "send-resend-rdv",
      "name": "Envoyer via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 300 ]
    }
  ],
  "connections": {
    "Schedule Trigger (Toutes les heures)": {
      "main": [ [ { "node": "Récupérer RDV à J-1", "type": "main", "index": 0 } ] ]
    },
    "Récupérer RDV à J-1": {
      "main": [ [ { "node": "Envoyer via Resend", "type": "main", "index": 0 } ] ]
    }
  },
  "settings": {}
}
